<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-icons/core-icons.html">
<link rel="import" href="../core-icon/core-icon.html">
<link rel="import" href="../speech-mic/speech-mic.html">
<link rel="import" href="../at-core-searchbox/at-core-searchbox.html">
<link rel="import" href="../at-core-activity/at-core-activity.html">
<link rel="import" href="../at-core-list/at-core-list.html">

<polymer-element name="at-app-search">

  <template>
    <style>
      :host {
        display: block;
        padding: 0px !important;
        background-color: transparent !important;
      }

      #searchBoxFrame {
        margin: 12px;
      }

      #core_input {
        padding: 15px;
      }
    </style>
    <div id="searchBoxFrame">
      <at-core-searchbox searchterm="{{ searchTerm }}" placeholder="{{ Placeholder }}" id="at_core_searchbox"></at-core-searchbox>
    </div>
    <at-core-activity url="{{ Url }}" response="{{ Data }}" id="activity"></at-core-activity>
    <at-core-list items="{{ Data.items }}" itemcomponent="{{ itemComponent }}" layout="{{layout }}" cardwidth="{{cardWidth}}" id="list"></at-core-list>

  </template>

  <script>

    Polymer({
      publish: {
        Url: '',
        Placeholder: { value: "", reflect: true },
        itemComponent: 'at-core-list/feed-item',
        searchTerm: '',
        cardWidth: 320,
        layout: "card"
      },
      searchTermChanged: function () {
        this.$.list.clear();
        if (this.searchTerm) {
          this.$.activity.params = { query: this.searchTerm };
          this.$.activity.go();
        }
      },
      ready: function () {
        var that = this;

        if (this.refresh) {
          setInterval(function () {
            that.$.feed_data.go();
          }, this.refresh);
        }
      }
    });

  </script>

</polymer-element>
