<link rel="import" href="../at-core-theme/at-core-theme.html">
<link rel="import" href="../at-core-form/at-core-form.html">
<link rel="import" href="../at-core-activity/at-core-activity.html">
<link rel="import" href="../at-carbon-icon/at-carbon-icon.html">

<dom-module id="at-form-ajax">

<style>
    :host {
        position: relative;
        width: 100%;
        display: block;
    }

    .button-wrapper{
        margin-top:10px;
        text-align: center;
    }

    button[disabled]{
        background-color: #eee;
        border: 1px solid #ababab;
        color: #ababab;
        cursor: default;
        filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#ffeeeeee', endColorstr='#ffeeeeee');
        background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(238, 238, 238, 1.0)), to(rgba(238, 238, 238, 1.0)));
        background: -moz-linear-gradient(top, rgba(238, 238, 238, 1.0), rgba(238, 238, 238, 1.0));
        text-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
</style>

<template>
    <at-core-theme></at-core-theme>
    <at-core-activity id="atFormAjaxSchemaActivity" url="{{schemaUrl}}" auto indicator></at-core-activity>
    <at-core-activity id="atFormAjaxActivity" url="{{url}}" method="POST" indicator></at-core-activity>
    <at-core-form id="atFormAjaxForm"></at-core-form>

    <div id="btnWrapper" class="button-wrapper" style="display:none">
        <!--<button id="btnSubmitForm" type="button"><at-carbon-icon icon="now:checkmark"></at-carbon-icon></button>-->
        <button id="btnSubmitForm" type="button">Submit</button>
    </div>
</template>
</dom-module>

<script>
// On POST response, component will fire "at-form-ajax-post-response" event with e.detail as a value
Polymer({
    is: "at-form-ajax",
    _scopeCssViaAttr: true,
    properties: {
        _afterReady: {
            type: Boolean
        },
        url: {
            type: String,
            value: ""
        },
        schemaUrl: {
            type: String,
            value: ""
        },
        schema: {
            type: Object,
            observer: "schemaChanged"
        },
        //Mode should be either json or formdata
        //default value is json
        mode: {
            type: String,
            value: "json"
        }
    },

    schemaChanged: function (newValue, oldValue) {
        this.fire("at-form-ajax-schema-changed", { schema: newValue });

        this.$.btnWrapper.style.display = "none";
        this.$.atFormAjaxForm.schema = newValue;
    },

    ready: function () {
        this._afterReady = true;

        var self = this;

        this.$.atFormAjaxSchemaActivity.addEventListener("response", function (e) {
            if(e.detail.ErrorCode == 0){
                self.schema = e.detail.Data.form.schema;
                self.url = e.detail.Data.form.url;
            }
        });
        
        this.$.atFormAjaxActivity.addEventListener("response", function (e) {
            self.fire("at-form-ajax-post-response", { value: e.detail });
            self.$.atFormAjaxForm.disabled = false;
            self.$.btnSubmitForm.disabled = !self.$.atFormAjaxForm.valid;
        });

        this.$.atFormAjaxForm.addEventListener("at-core-form-rendered", function () {
            self.$.btnWrapper.style.display = "block";
        });

        this.$.atFormAjaxForm.addEventListener("data-changed", function (e) {
            self.$.btnSubmitForm.disabled = !this.valid;
        });

        this.$.btnSubmitForm.addEventListener("click", function (e) {
            var postData = {};
            self.$.atFormAjaxForm.disabled = true;
            self.$.btnSubmitForm.disabled = true;

            if(self.mode.toLowerCase() == "formdata"){
                postData = new FormData();

                for (var key in self.schema.properties) {
                    if (self.schema.properties.hasOwnProperty(key)) {
                            formData.append(key, self.$.atFormAjaxForm.data[key]);
                    }
                }
                
                //self.$.atFormAjaxActivity.contentType = null;
            }else{
                self.$.atFormAjaxActivity.contentType = "application/json;odata=verbose";
                
                for (var key in self.schema.properties) {
                    if (self.schema.properties.hasOwnProperty(key)) {
                         postData[key] = self.$.atFormAjaxForm.data[key];
                    }
                }
            }

            //self.$.atFormAjaxActivity.params = null;
            self.$.atFormAjaxActivity.body = postData;
            self.$.atFormAjaxActivity.generateRequest();
        });

        this.$.btnSubmitForm.disabled = true;
    }
});
</script>

