<link rel="import" href="../polymer/polymer.html" />
<link rel="import" href="../at-form-ajax/at-form-ajax.html" />

<dom-module id="at-form-ajax-test">
    <style>
        :host {
            position: relative;
            width: 100%;
            display: block;
            margin: 0;
            font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
            font-size: 15px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fff;
        }
    </style>
    <template>
        <at-form-ajax url="http://localhost:2014/PostEcho" schema="{{testSchema}}"></at-form-ajax>
    </template>

</dom-module>

<script>
    Polymer({
        is: 'at-form-ajax-test',
        _scopeCssViaAttr: true,
        properties: {
            testSchema: {
                type: Object,
                value: {
                    "properties": {
                        "firstName": {
                            "title": "First Name",
                            "type": "string",
                            "required": true
                        },
                        "lastName": {
                            "title": "Last Name",
                            "type": "string"
                        }
                    }
                }
            }
        },
        viewReady: function () {
        }
    });
</script>
