<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width" />
  <title>at-form-complex demo</title>

  <script src="../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../polymer/polymer.html">
  <link rel="import" href="at-form-complex.html">
  <link rel="import" href="../layout/layout.html">
  <style>
    .my-body {
      width: 90%;
      margin-top: 5%;
      margin-left: 5%;
      margin-right: 5%;
    }
  </style>
</head>

<body class="my-body">
  <div class="vertical layout">
    <div class="horizontal layout">
      <div class="vertical layout">
        <div>
          <h3>This demo shows a single at-form-complex</h3>
        </div>
        <div>
          <p>This demo also demonstrates the updates to valid state</p>
        </div>
      </div>
    </div>
    <div class="horizontal layout">
      <div class="flex">
        <at-form-complex id="formComplex"></at-form-complex>
      </div>
    </div>
    <div class="horizontal layout center-justified">
      <p>at-form-complex field is currently: <b id="validStateText"></b>
      </p>
    </div>
  </div>
  <script>
    window.addEventListener('WebComponentsReady', function (e) {
      var formComplex = document.getElementById("formComplex");
      formComplex.schema = {
        'properties': {
          'id': {
            'description': 'The unique identifier for a product',
            'type': 'number'
          },
          'name': {
            'type': 'string',
            'required': true
          },
          'city': {
            'type': 'string',
            'value': 'Default city name'
          },
          'active': {
            'type': 'boolean'
          },
          'activePera': {
            'type': 'boolean',
            'description': 'This is description for pera'
          },
          'activeToggle': {
            "type": "boolean",
            "xtype": "toggle",
            "description": "This is description for active toggle"
          },
          'dropdownDemo': {
            'title': 'Name',
            'type': 'enum',
            'xvaluelist': 'XML,JSON'
          },
          'codeMirrorDemo': {
            "title": "Code Mirror",
            "type": "string",
            "xtype": "code"
          }
        },
        'required': ['id', 'city']
      };
      formComplex.value = {
        'id': 3213,
        'city': 'Boston',
        'name': 'This is sample name',
        'active': true,
        'activePera': false,
        'dropdownDemo': 'XML'
      };

      function updateValidStateText() {
        var validStateText = document.getElementById('validStateText');
        validStateText.textContent = formComplex.valid ? 'valid' : 'invalid';
      }

      formComplex.addEventListener('valid-changed', function (event) {
        updateValidStateText();
      });

      updateValidStateText();

    });
  </script>
</body>

</html>