<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width" />
  <title>at-form-complex demo</title>

  <script src="../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../polymer/polymer.html">
  <link rel="import" href="at-form-complex.html">
  <link rel="import" href="../layout/layout.html">
  <style>
    .my-body {
      width: 90%;
      margin-top: 5%;
      margin-left: 5%;
      margin-right: 5%;
    }
    
    .light-padding {
      padding-left: 4px;
      padding-right: 4px;
    }
    
    .top-margin {
      margin-top: 6px;
    }
  </style>
</head>

<body class="my-body">
  <div class="vertical layout">
    <div class="horizontal layout">
      <div class="flex">
        <at-form-complex id="formComplex" disabled></at-form-complex>
      </div>
    </div>
    <div class="horizontal layout center-justified top-margin">
      <div class="light-padding">
        <p>The complex field is currently: <b id="disabledStatus"></b>
        </p>
      </div>
      <div class="light-padding">
        <button id="toggleDisabled">Toggle disabled</button>
      </div>
    </div>
  </div>
  <script>
    window.addEventListener('WebComponentsReady', function (e) {
      var formComplex = document.getElementById("formComplex");
      formComplex.schema = {
        'properties': {
          'id': {
            'description': 'The unique identifier for a product',
            'type': 'number'
          },
          'name': {
            'type': 'string',
            'required': true
          },
          'city': {
            'type': 'string',
            'value': 'Default city name'
          },
          'active': {
            'type': 'boolean'
          },
          'activePera': {
            'type': 'boolean',
            'description': 'This is description for pera'
          },
          'activeToggle': {
            "type": "boolean",
            "xtype": "toggle",
            "description": "This is description for active toggle"
          },
          'dropdownDemo': {
            'title': 'Name',
            'type': 'enum',
            'xvaluelist': 'XML,JSON'
          },
          'codeMirrorDemo': {
            "title": "Code Mirror",
            "type": "string",
            "xtype": "code"
          }
        },
        'required': ['id', 'city']
      };
      formComplex.value = {
        'id': 3213,
        'city': 'Boston',
        'name': 'This is sample name',
        'active': true,
        'activePera': false,
        'dropdownDemo': 'XML'
      };

      function updateDisabledText() {
        var disabledStatus = document.getElementById('disabledStatus');

        if (formComplex.disabled) {
          disabledStatus.textContent = 'disabled';
        } else {
          disabledStatus.textContent = 'enabled';
        }
      }

      var toggleDisabled = document.getElementById('toggleDisabled');
      toggleDisabled.addEventListener('click', function () {
        formComplex.disabled = !formComplex.disabled;
        updateDisabledText();
      });

      updateDisabledText();
    });
  </script>
</body>

</html>