<link rel="import" href="at-form-daterange-dropdown.html">
<link rel="import" href="../at-core-theme/at-core-theme.html">
<link rel="import" href="../at-carbon-icon/at-carbon-icon.html">

<!-- This is a new component extracted from the demo.html for polymer 0.5 -->

<dom-module id="at-form-daterange">
  <style>
    input.date {
      border: 1px solid #DDDDDD;
      background-color: #EEEEEE;
      color: #555555;
      max-width: 100%;
      width: inherit;
      padding: 8px 10px;
      margin: 10px;
      border-radius: 4px;
    }
    
    input.date:hover {
      cursor: pointer;
      border: 1px solid #44B4E4;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    }
    
    .hidden {
      display: none;
      visibility: hidden;
    }
    
    .visible {
      display: block;
      visibility: visible;
    }
  </style>
  <template>
    <at-core-theme></at-core-theme>
    <div class="ui form">
      <div class="field">
        <label>{{label}}</label>
      </div>
    </div>
    <div id="rangeDiv">
      <div class="ui form">
        <div id="fieldDiv" class="field">
          <div class="ui action input" style="display: inline-flex">
            <input id="triggerRange" value="{{value}}" on-focus="open" on-mousedown="toggle" on-blur="close" readonly class="date">
            <button class="ui button" on-mousedown="toggle"><at-carbon-icon icon="now:calendar"></at-carbon-icon></button>
          </div>
        </div>
      </div>
      <at-form-daterange-dropdown id="dateRangePicker" disabled$={{disabled}} show-ranges start-date="{{startDate}}" end-date="{{endDate}}" timezone="America/New_York"></at-form-daterange-dropdown>
    </div>
  </template>
</dom-module>

<script>
  (function (utils) {
    utils.isChildOf = function (child, parent) {
      var isChild = false;
      var iterElem = child ? child : null;

      while (!isChild && iterElem !== null && iterElem.nodeType !== 9) {
        isChild = iterElem === parent;
        iterElem = iterElem.parentElement;
      }

      return isChild;
    }
  }(window.afDateRangeUtils = window.afDateRangeUtils || {}));


  Polymer({
    is: 'at-form-daterange',
    properties: {
      label: {
        type: String,
        value: ''
      },
      startDate: {
        type: String,
        value: ''
      },
      endDate: {
        type: String,
        value: ''
      },
      value: {
        type: String,
        computed: 'computeValue(startDate, endDate)',
        notify: true,
        observer: 'valueChanged'
      },
      valid: {
        type: Boolean,
        value: true,
        notify: true
      },
      required: {
        type: Boolean,
        value: false,
        observer: 'requiredChanged'
      },
      disabled: {
        type: Boolean,
        value: false
      }
    },
    _scopeCssViaAttr: true,
    ready: function () {
      var _self = this;

      // why is this here?
      // when function is invoked as event handler "this" for that function is window object
      // polymer context is not available; also variables from enclosing function scope (ie from ready function)
      //  are not available; yes - not available;
      // that is why bind must be used; and bound function passed as an event listener
      // unbound function is bound to "this" of polymer element
      var unboundFunction = function (event) {
        if (this.$.triggerRange !== event.target && afDateRangeUtils.isChildOf(event.target, this)) {
          event.preventDefault();
        }
      }
      var boundHandler = unboundFunction.bind(this);

      var body = document.getElementsByTagName('body')[0];
      body.addEventListener('mousedown', boundHandler);  
    },
    computeValue: function (startDate, endDate) {
      var result = '';
      if (startDate) {
        result = startDate + '';
        if (endDate) {
          result = result + ' to ' + endDate;
        }
      } else if (endDate) {
        result = endDate + '';
      }

      return result;
    },
    toggle: function () {
      if (!this.disabled) {
        var datePicker = this.$.dateRangePicker;
        var relatedTarget = this.querySelector('input[id=triggerRange]');
        datePicker.relatedTarget = relatedTarget;
        datePicker.toggle();
      }
    },
    close: function (event) {
      this.$.dateRangePicker.close();
    },
    open: function (evnet) {
      if (!this.disabled) {
        this.$.dateRangePicker.open();
      }
    },
    _updateValidState: function () {
      if (this.required && this.value === '') {
        this.valid = false;
      } else {
        this.valid = true;
      }
    },
    _validate: function () {
      this._updateValidState();
      this.toggleClass('error', !this.valid, this.$.fieldDiv);
    },
    requiredChanged: function () {
      this._validate();
    },
    valueChanged: function (newValue, oldValue) {
      this._validate();
    }
  });
</script>