<link rel="import" href="at-form-daterange.html" />

<!-- This is a new component extracted from the demo.html for polymer 0.5 -->

<dom-module id="at-form-daterange-trigger">
  <template>
    <style>
      input.date {
        border: 1px solid #DDDDDD;
        background-color: #EEEEEE;
        color: #555555;
        min-width: 200px;
        padding: 8px 10px;
        margin: 10px;
        border-radius: 4px;
      }
      
      input.date:hover {
        cursor: pointer;
        border: 1px solid #44B4E4;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
      }
    </style>
    <template is="dom-if" if="{{range}}">
      <at-form-daterange id="datePicker" related-target="{{this.$.triggerRange}}" range show-ranges start-date="{{startDate}}" end-date="{{endDate}}" opened="{{opened}}" selected="custom" timezone="America/New_York"></at-form-daterange>
      <input id="triggerRange" value="{{value}}" on-click="toggle" readonly class="date">
    </template>
    <template is="dom-if" if="{{!range}}">
      <at-form-daterange id="datePicker" related-target="{{this.$.trigger}}" selected-date="{{selectedDate}}" opened="{{opened}}"></at-form-daterange>
      <input id="trigger" value="{{selectedDate}}" on-click="toggle" readonly class="date">
    </template>
  </template>

</dom-module>

<script>
  Polymer({
    is: 'at-form-daterange-trigger',
    properties: {
      range: {
        type: Boolean,
        value: false
      },
      selectedDate: {
        type: String,
        value: ''
      },
      startDate: {
        type: String,
        value: ''
      },
      endDate: {
        type: String,
        value: ''
      },
      opened: {
        type: Boolean,
        value: false
      },
      value: {
        type: String,
        computed: 'computeValue(startDate, endDate)'
      }
    },
    _scopeCssViaAttr: true,
    computeValue: function (startDate, endDate) {
      var result = '';
      if (startDate) {
        result = startDate + '';
        if (endDate) {
          result = result + ' to ' + endDate;
        }
      } else if (endDate) {
        result = endDate + '';
      }

      return result;
    },
    toggle: function () {
      var datePicker = this.querySelector('at-form-daterange');
      if (this.range) {
        var relatedTarget = this.querySelector('input[id=triggerRange]');
        datePicker.relatedTarget = relatedTarget;
      } else {
        var relatedTarget = this.querySelector('input[id=trigger]');
        datePicker.relatedTarget = relatedTarget;
      }
      datePicker.toggle();
    },
    open: function () {
      var datePicker = this.querySelector('at-form-daterange');
      if (this.range) {
        var relatedTarget = this.querySelector('input[id=trigger]');
        datePicker.relatedTarget = relatedTarget;
      }
      datePicker.open();
    }
  });
</script>