<link rel="import" href="../at-carbon-icon/at-carbon-icon.html" />
<link rel="import" href="../layout/layout.html" />

<dom-module id="at-form-daterange-calendar">
  <!--  css file at-form-daterange-calendar.css had to be merged into module because styles were otherwise not working -->
  <style>
    .calendar {
      margin: 4px;
      border: 1px solid #DDDDDD;
      padding: 4px;
      background: #FFFFFF;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    }
    
    .calendar .dtTable {
      width: 100%;
      border-collapse: collapse;
    }
    
    .bold {
      font-weight: bold;
    }
    
    .calendar .calHead > .calRow > .calTh,
    .calendar .calBody > .calRow > .calRow > .calTd {
      text-align: center;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      cursor: pointer;
      white-space: nowrap;
      padding: 5px;
    }
    
    .calendar > .calHead > .calRow > .calTh {
      /* *ij* this css property is not recognized in Chrome 43 */      
      font-size-adjust: 0.488;
      font-weight: bold;
    }
    
    .calendar .calBody > .calRow > .calRow > .calTd.disabled,
    .calendar .calBody > .calRow > .calRow > .calTd.off {
      color: #999999;
    }
    
    .calendar .calBody > .calRow > .calRow > .calTd.available:hover {    
      background: #EEEEEE;
    }
    
    
    .calendar .calBody > .calRow > .calRow > .calTd.available + .calendar .calBody > .calRow > .calRow > .calTd.available.start-date {
      border-radius: 4px 0 0 4px;
    }
        
    .calendar .calBody > .calRow > .calRow > .calTd.start-date.end-date {   
      border-radius: 4px;
    }
    
    .calendar .calBody > .calRow > .calRow > .calTd.in-range {
      background: #EBF4F8;
      border-radius: 0;
    }
    
    .calendar .calBody > .calRow > .calRow > .calTd.in-range + .calendar .calBody > .calRow > .calRow > .calTd.available.in-range.end-date {
      border-radius: 0 4px 4px 0;
    }

    .calendar .calBody > .calRow > .calRow > .calTd.active,
    .calendar .calBody > .calRow > .calRow > .calTd.active:hover {    
      background-color: #357EBD;
      border-color: #3071a9;      
      color: #fff;
    }
  </style>
  <template>

    <div class="calendar vertical layout dtTable">
      <div class="calHead">
        <div class="horizontal layout calRow">
          <div class="flex-1" on-tap="backClicked">
            <at-carbon-icon icon="arrow-left" size="20"></at-carbon-icon>
          </div>
          <div class="flex-5">
            <div class="horizontal layout center-justified">
              <span class="bold">{{monthName}}</span>&nbsp;<span class="bold">{{yearMonth.year}}</span>
            </div>
          </div>
          <div class="flex-1" on-tap="nextClicked">
            <at-carbon-icon icon="arrow-right" size="20"></at-carbon-icon>
          </div>
        </div>
        <div class="horizontal layout calRow">
          <template is="dom-repeat" items="{{daysOfWeek}}">
            <span class="flex-1 calTh">{{item}}</span>
          </template>
        </div>
      </div>
      <div class="calBody">
        <div class="vertical layout calRow">
          <template is="dom-repeat" items="{{calendar}}">
            <div class="horizontal layout calRow">
              <template is="dom-repeat" items="{{item}}">
                <span on-tap="dateClicked" row$="{{item.row}}" col$="{{item.col}}" class$="{{item.classList}}">{{item.day}}</span>
              </template>
            </div>
          </template>
        </div>
      </div>
    </div>
  </template>
</dom-module>
<script>
  Polymer({
    is: "at-form-daterange-calendar",
    properties: {
      start: {
        type: Boolean,
        value: false
      },
      end: {
        type: Boolean,
        value: false
      },
      selectedDate: {
        type: String,
        value: '',
        notify: true,
        observer: 'selectedDateChanged'
      },
      startDate: {
        type: String,
        value: '',
        notify: true,
        observer: 'startDateChanged'
      },
      endDate: {
        type: String,
        value: '',
        notify: true,
        observer: 'endDateChanged'
      },
      date: {
        type: Object,
        value: function () {
          return {};
        },
        observer: 'dateChanged'
      },
      yearMonth: {
        type: Object,
        value: function () {
          return {};
        },
        observer: 'yearMonthChanged'
      },
      monthName: {
        type: String,
        value: ''
      },
      calendar: {
        type: Array,
        value: function () {
          return [];
        }
      }
    },
    _scopeCssViaAttr: true,
    ready: function () {
      if (!this.selectedDate) {
        this.selectedDate = moment().format("YYYY-MM-DD");
      }
      this.daysOfWeek = [0, 1, 2, 3, 4, 5, 6].map(function (n) {
        return moment().day(n).format("dd");
      });
      this.rebuildCalendar();
    },
    moveMonth: function (n) {
      this.firstOfMonth.add(n, 'month');
      this.rebuildYearMonth(this.firstOfMonth);
    },
    backClicked: function () {
      this.moveMonth(-1);
    },
    nextClicked: function () {
      this.moveMonth(1);
    },
    dateClicked: function (e) {
      var element = e.target;
      var row = element.getAttribute("row");
      var col = element.getAttribute("col");
      this.selectedDate = this.calendar[row][col].identifier;
    },
    startDateChanged: function () {
      if (this.start) {
        this.selectedDate = this.startDate;
      }
      if (this.selectedDate !== '') {
        this.date = moment(this.selectedDate);
      }
    },
    endDateChanged: function () {
      if (this.end) {
        this.selectedDate = this.endDate;
      }
      if (this.selectedDate !== '') {
        this.date = moment(this.selectedDate);
      }
    },
    selectedDateChanged: function () {
      if (this.selectedDate === '') {
        return;
      }
      if (this.start) {
        this.startDate = this.selectedDate;
      } else if (this.end) {
        this.endDate = this.selectedDate;
      }
      this.date = moment(this.selectedDate);
    },
    dateChanged: function (newDate, oldDate) {
      if (newDate._isAMomentObject === undefined || newDate._isAMomentObject === false) {
        return;
      }
      this.rebuildYearMonth(newDate);
    },
    rebuildYearMonth: function (moment) {
      this.yearMonth = {
        year: moment.year(),
        month: moment.month()
      };
    },
    yearMonthChanged: function (newYearMonth, oldYearMonth) {
      // turns out to have the component display correctly we need to rebuild calendar everytime in current infrastructure
      //      if (!oldYearMonth || oldYearMonth.year != newYearMonth.year || oldYearMonth.month != newYearMonth.month) {        
      this.rebuildCalendar();
      //      }
    },
    rebuildCalendar: function () {
      var rowIndex, columnIndex, date, index = 0;
      var newCalendar = [];
      this.firstOfMonth = moment([this.yearMonth.year, this.yearMonth.month, 1]);
      this.monthName = this.firstOfMonth.format("MMMM");
      this.firstDayOfMonthOffset = this.firstOfMonth.day();
      var column = [];

      for (rowIndex = 0; rowIndex < 6; rowIndex += 1) {
        column = [];
        for (columnIndex = 0; columnIndex < 7; columnIndex += 1) {
          date = this.firstOfMonth.clone().add(index - this.firstDayOfMonthOffset, 'days');

          var cell = {
            date: date,
            year: date.year(),
            month: date.month(),
            day: date.date(),
            identifier: date.format("YYYY-MM-DD"),
            row: rowIndex,
            col: columnIndex
          };

          // tokenList filter is not present in polymer 0.8 so we build the class list for each cell
          // programmatically
          var classList = ['flex-1', 'calTd'];
          if (cell.identifier === this.selectedDate) {
            classList.push('active');
          }
          if (cell.month !== this.yearMonth.month) {
            classList.push('disabled');
          }
          if (cell.month === this.yearMonth.month) {
            classList.push('available');
          }
          if (cell.identifier === this.startDate) {
            classList.push('start-date');
          }
          if (cell.identifier === this.endDate) {
            classList.push('end-date');
          }
          if (cell.identifier >= this.startDate && cell.identifier <= this.endDate) {
            classList.push('in-range');
          }

          cell.classList = classList.join(" ");

          column.push(cell);

          index += 1;
        }
        newCalendar.push(column);
      }
      this.calendar = newCalendar;
    }
  });
</script>