<!doctype html>
<html lang="en">

<head>
  <META name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1">
  <style>
    html,
    body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: Arial;
    }
    
    div.container {      
      margin: 50px auto 0;
      padding: 20px;
      height: 100%;
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.17);
    }
  </style>
  <script src="../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../polymer/polymer.html" />
  <link rel="import" href="at-form-daterange.html" />
</head>

<body touch-action="auto">
  <div class="container">
    <div class="vertical layout">
      <div class="horizontal lyaout">
        <h4>Daterange picker without initial value</h4>
        <at-form-daterange id="drPicker"></at-form-daterange>
      </div>
    </div>
    <div class="vertical layout">
      <div class="horizontal lyaout">
        <h4>Daterange picker with initial value set as attributes</h4>
        <at-form-daterange id="drPickerInitValue" start-date="2014-08-01" end-date="2014-08-15"></at-form-daterange>
      </div>
    </div>
    <div class="vertical layout">
      <div class="horizontal lyaout">
        <h4>Daterange picker with initial value set programmatically</h4>
        <at-form-daterange id='drPickerProgValue'></at-form-daterange>
      </div>
    </div>
    <div class="vertical layout">
      <div class="horizontal lyaout">
        <h4>Daterange picker disabled</h4>
        <at-form-daterange disabled></at-form-daterange>
      </div>
    </div>
    <div class="vertical layout">
      <div class="horizontal lyaout">
        <h4>Daterange picker required</h4>
        <at-form-daterange required></at-form-daterange>
      </div>
    </div>
  </div>
</body>
</html>