<link rel="import" href="../strip-json-comments/strip-json-comments.html">

<polymer-element name="at-core-data-sample" attributes="data">
  <template>

  </template>

  <script>
    Polymer('at-core-data-sample', {
      data: {},
      domReady: function () {

        var designer = false;

        // parent component running directly in designer
        if (this.parentNode) {
          if (this.parentNode.id) {
            if (this.parentNode.id == "design_host") designer = true;
          }
        }

        // preview window
        if (window.location.pathname.indexOf("adenin.PolymerDesigner/Polymer/Preview") > 0) designer = true;

        // don't do anything outside of the designer
        if (!designer) return;

        // get sample data 
        var txt = this.innerHTML.trim();
        if (!txt) return;

        var json = null;

        try {
          json = JSON.parse(stripJsonComments(txt));
        } catch (err) {
          var msg = document.createElement("div");
          msg.innerHTML = "<br>Error: " + err.message + "<br>";
          this.shadowRoot.appendChild(msg);
        }

        if (json != null) {
          this.data = json;
        }

      },
      ready: function () {

      }
    });
  </script>
</polymer-element>
