
<x-meta id="at-form-field" label="at-form-field" group="at-elements" isContainer>

  <template>
    <at-form-field icon="search" theme="core-light-theme">
      <core-icon icon="search"></core-icon>
      <core-input placeholder="text input" flex></core-input>
    </at-form-field>
  </template>
  
  <template id="imports">
    <link rel="import" href="at-form-field.html">
    <link rel="import" href="../core-icon/core-icon.html">
    <link rel="import" href="../core-input/core-input.html">
  </template>
  
</x-meta>

