
<link href="../polymer/polymer.html" rel="import">
<link href="../core-icon/core-icon.html" rel="import">
<link href="../paper-ripple/paper-ripple.html" rel="import">

<link href="at-carbon-action.css" rel="stylesheet" shim-shadowdom>

<polymer-element name="at-carbon-action" attributes="label iconSrc icon" center horizontal layout>

  <template>
	<style>
	#label {
		overflow-x: hidden;
		text-overflow: ellipsis;
		width: calc(100% - 32px);
	}
	
	#label[noicon] {
		overflow-x: hidden;
		text-overflow: ellipsis;
		width: 100%;
	}
	</style>
    <paper-ripple id="ripple"></paper-ripple>

    <core-icon id="icon" hidden?="{{!iconSrc && !icon}}" src="{{iconSrc}}" icon="{{icon}}"></core-icon>
    <div id="label" noicon?="{{!iconSrc && !icon}}" >{{label}}</div>
    <content></content>
  </template>

  <script>
    Polymer('at-carbon-action', {

      publish: {

        /**
         * The label for the item.
         *
         * @attribute label
         * @type string
         * @default ''
         */
        label: '',

        /**
         * (optional) The URL of an image for an icon to use in the button.
         * Should not use `icon` property if you are using this property.
         *
         * @attribute iconSrc
         * @type string
         * @default ''
         */
        iconSrc: '',

        /**
         * (optional) Specifies the icon name or index in the set of icons
         * available in the icon set. If using this property, load the icon
         * set separately where the icon is used. Should not use `src`
         * if you are using this property.
         *
         * @attribute icon
         * @type string
         * @default ''
         */
        icon: ''

      },

      eventDelegates: {
        'down': 'downAction',
        'up': 'upAction'
      },

      downAction: function(e) {
        this.$.ripple.downAction(e);
      },

      upAction: function(e) {
        this.$.ripple.upAction(e);
      }
    });
  </script>
</polymer-element>
